body{
    font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
margin:auto;
padding:0px;

}
h1{
    font-size: 40px;
    
}
.border{
    border-left: 7px solid tomato;
    padding: 0px 5px 0px 10px;
    
}


.orange{
    color:orange;
}
.first-continar{
    display: flex;

}
.half-width{
    margin-right: 30px;
    width: 60%;
    margin-left: 50px;
   
}
.button{
    text-decoration: none;
    color:white;
    background-color: tomato;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    
}
.half-width img{
    width: 80%;
    padding: 10%;
    font-size: 40px;

}
.s-conteiner{
 text-align: center;
justify-content: center;
align-items: center;
 align-items:center; 
   width: auto;
   height: auto;
   margin:74px;
   border-radius:20px;
}

.block{display: flex;
 
   

 
}
.image{
    width: 200px;
}
.block-1{
width: 300px;
height: 400px;
background-color:#cd5c5c52;
margin: 5px;
border-radius: 10px;


}
.block-2{
    width: 300px;
     height: 400px;
     background-color:#ff69b440;
     margin:5px;
     border-radius: 10px;
    
     
}
.block-3{
    width: 300px;
     height: 400px;
     margin: 5px;
     background-color:#80808047;
     border-radius: 10px;
}
.thard-continer{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 350px;
    margin-left: 70px;
    
}
.hard-work{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 63%;
    margin-left: 50px;

}
.forth-container{background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right bottom;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;}

    .right {
        margin-right: 80px;
    }
    .photo {
        width: 366px;
        margin-left: 69px;
    }
    
.fift-continer{
text-align: center;
align-items: center;
justify-content: center;
width: auto;
height:auto;
}
.extra-features{
display: flex;
align-items: center;
margin-left: 10px;
margin-right:10px ;
font-size: 15px;
margin-bottom: 36px;
}
.extra-1{    width: 300px;
    height: 292px;
    background-color: hsl(207deg 5% 35% / 46%);
    margin: 13px;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 6px 13px 13px 4px grey;
}
.fift-continer div h2{
    color: rgb(196, 51, 123);
    font-size: 25px;
}
.fift-continer h6{
    color: red;
    padding-top: 20px;
    font-size: 15px;
    margin-bottom:10px ;
}
.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom:9px;
    
}

#mission{
font-family: 'Dancing Script', cursive;
padding-top: 15px;
}
.last :hover{
    color: rgb(140, 222, 224);
}
