body{
    font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
margin:auto;
padding: 0px;

}
h1{
    font-size: 40px;
}
.border{
    border-left: 7px solid tomato;
    padding: 0px 5px 0px 10px;
    
}


.orange{
    color:orange;
}
.first-continar{
    display: flex;

}
.half-width{
    margin-right: 30px;
    width: 60%;
    padding: 5%;
    margin-left: 50px;
   
}
.button{
    text-decoration: none;
    color:white;
    background-color: tomato;
    border-radius: 15px;
    padding: 10px;
    
}
.half-width img{
    width: 80%;
    padding: 10%;
    font-size: 40px;

}
.s-conteiner{
 text-align: center;
justify-content: center;
align-items: center;
 
}

.block{display: flex;
 align-items:center; 
   width: 100%;
   height: auto;
   margin:57px;
   border-radius:20px;
   

 
}
.image{
    width: 200px;
}
.block-1{
width: 300px;
height: 400px;
background-color:#cd5c5c52;
margin: 5px;
border-radius: 10px;


}
.block-2{
    width: 300px;
     height: 400px;
     background-color:#ff69b440;
     margin:5px;
     border-radius: 10px;
     padding: 18px;
     
}
.block-3{
    width: 300px;
     height: 400px;
     margin: 5px;
     background-color:#80808047;
     border-radius: 10px;
}
.thard-continer{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 350px;
    
}
.hard-work{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 63%;
    margin-left: 50px;

}
.forth-container{background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right bottom;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left{
    margin-left:80px;
    
}
.right{
    margin-right:50px;
}
.fift-continer{
    background-color: black;
}
.extra-features{

}
